.git
.git/
.git/*
.git/**
.github/
.github/**

.gitignore
.dockerignore

*.yml
*.md
Dockerfile
docker-compose.yml

data
data/**

vendor
vendor/
vendor/*
vendor/**

simplecert
simplecert/
simplecert/*
simplecert/**

shared
shared/
shared/*
shared/**

public
public/
public/*
public/**

node_modules
node_modules/
node_modules/*
node_modules/**

release
release/
release/*
release/**