# docker
COMPOSE_HTTP_TIMEOUT=3600

# project info
NAMESPACE=qorpress
TZ=Europe/Paris

# qorpress info
QORPRESS_URI=x0rxkov.com
QORPRESS_DB_NAME=qorpress
QORPRESS_TABLE_PREFIX=qp_
QORPRESS_DB_HOST=mysql
QORPRESS_DB_PORT=3306
QORPRESS_DB_USER=x0rzkovdb
QORPRESS_DB_PASSWORD=xxxxxxxxx
QORPRESS_DATA_DIR=./shared/www

# mysql parameters
MYSQL_VERSION=5.7
MYSQL_ROOT_PASSWORD=supercow
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_DATABASE=qorpress
MYSQL_BACKUP_DIR=./shared/backup

# github
GITHUB_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# wordpress
WORDPRESS_USERNAME=xxxxxx
WORDPRESS_PASSWORD=xxxxxx
WORDPRESS_API_ENDPOINT=https://domain.com/wp-json/