<link type="text/css" rel="stylesheet" src="/vendors/flexslider.css" />
<link type="text/css" rel="stylesheet" src="/dist/home_posts.css" />

<div class="container posts__details">
  <div class="post-content">
    {{with .CurrentVariation }}
        <div class="grid">
            <div class="swiper-container posts__gallery--top">
              <ul class="slides">
                {{range $image := .Images.Files}}
                  <li style="background-image:url({{$image.Url}})"></li>
                {{end}}
              </ul>
            </div>

            <div class="swiper-container posts__gallery--thumbs">
              <ul class="slides">
                {{range $image := .Images.Files}}
                  <li style="background-image:url({{$image.Url}})"></li>
                {{end}}
              </ul>
            </div>

        </div>

        <div class="grid posts__info is-12">

          <div class="grid__col is-9">
            <h6>{{ t "post.links" }} #2</h6>
            <ul>
            {{range $link := .Links}}
              <hr>
              <li><a href="{{$link.Href}}" title="{{$link.Title}}">{{$link.Name}}</a></li>
            {{end}}
            </ul>
          </div>

          <div class="grid__col is-9">
            <h6>{{ t "post.description" }}</h6>
            <p>{{raw .Description}}</p>
          </div>

          <div class="is-3 posts__tweets">
            {{ if current_user }}
              <a  target="_blank"  
                  data-iframe-url="/admin/action_bar/inline_edit" 
                  data-url="/admin/posts/{{.ID}}/edit" 
                  href="#" class="qor-actionbar-button">{{ t "post.edit" }}
              </a>
            {{ end }}
            <h6>Latest tweets</h6>
          </div>

          <div class="grid__col is-9">
            <h6>{{ t "post.specs" }}</h6>
            {{range $prop := .PostProperties}}
              <li>{{$prop.Name}}: {{$prop.Value}}</li>
            {{end}}
          </div>

          <div class="grid__col is-9">
            <h6>TAGS:</h6>
            {{ range $tag := get_post_tags .ID }}
              <a href="{{ $tag.DefaultPath }}">{{$tag.Name}}</a>,&nbsp;
            {{ end }}
          </div>

        </div>
      
    {{end}}

    <!-- featured post widget -->
    <div class="row posts__featured">
      <h3>{{ t "post.recommendations" }}</h3>
      <p>{{ t "post.recommendations_note" }}</p>
      <div class="posts__featured--slider" id="featured-post">
      </div>
    </div>
    <!-- end: featured post widget -->

    <!-- featured post widget -->
    <div class="row posts__featured">
      <h3>{{ t "post.also_bought" }}</h3>
      <p>{{ t "post.also_bought_note" }}</p>
      <div class="posts__featured--slider" id="also-bought">
      </div>
    </div>

    <!-- end: featured post widget -->
  </div>

</div>
<script src="/vendors/jquery.flexslider-min.js"></script>
